.name-cl{
    color: rgb(198, 163, 90);
}
.border-shell{
    border: 2px solid rgb(198, 163, 90) ;
    
}
.line-gold{
    width: 100%;
    height: 2px;
    background-color:rgb(198, 163, 90) ;
}
.line-silver{
    width: 100%;
    height: 1px;
    background-color: rgba(227, 227, 227,50%);
}
.silver{
    color: rgb(227, 227, 227);
}