@import "tailwindcss";
body{
  background-color: #272e38;
}
.shadow-line{
    box-shadow: 0px 2px 15px 5px rgb(198, 163, 90);
}
.gold-color{
    color:rgb(198, 163, 90);
}
.light-silver-color{
    color: rgba(227, 227, 227,70%);
}
.bg-monster{
    background-color: #272e38;
}
.bg-menu{
    background-color: rgba(31, 37, 46, 0.9);
    border:1px solid rgb(198, 163, 90);
}